@charset "UTF-8";
#cn #contents *{
  font-family:Heiti TC;

}

.aboutpage-language .space{
  display: block;
}

.aboutpage-language #contents .txt-wht{
  color: #fff;
}

.pc-img{
    display: none;
}

.sp-img{
    display: inline-block;
}

.aboutpage-language .section .img img,.banner img{
  width: 100%;
}


.aboutpage-language #contents .font1{
    /* font-size: calc(40px*0.78);  */
    font-size: 5.33333vw;

  }

  .aboutpage-language #contents .font2{
    /* font-size: 2.4vw; */
    /* font-size: calc(18px*0.78);  */
    font-size: 3.733333333vw;
    /* 一旦28ｐｘ */
  }
  

  .aboutpage-language #contents .font3{
  /* font-size: calc(30px*0.78);  */
  font-size: 4vw;

  }

  .aboutpage-language #contents .font4{
    font-size: 3.2vw;
    /* font-size: calc(24px*0.78);  */

  }

  .aboutpage-language #contents .font5{
    font-size: 2.666666666vw;
    /* font-size: calc(20px*0.78);  */
  }

  .aboutpage-language #contents .font7{
    font-size: 16px;
  }

  .aboutpage-language #contents .sp-txt-1{
    font-size: 6.6666666vw;
    /* font-size: calc(50px*0.78);  */
  }

  .aboutpage-language #contents .sp-txt-2{
    font-size: 2.666666666vw;
    /* font-size: calc(20px*0.78);  */
  }

  .aboutpage-language #contents .sp-txt-3{
    font-size: 6.4vw;
    /* 48px */
  }

  .aboutpage-language #contents .sp-txt-4{
    font-size: 4vw;
    /* 30px */
  }

  .aboutpage-language #contents .sp-txt-5{
    font-size: 3.46666666667vw;
    /*  26px*/
  }

  .aboutpage-language #contents .sp-txt-6{
    font-size: 2.133333333vw;
    /* 16px */
  }

  .aboutpage-language #contents .sp-txt-7{
    font-size: 5.54666666667vw;
    /* 41.6px */
  }

  .aboutpage-language #contents .sp-txt-8{
    font-size: 2.666666666vw;
    /* font-size: calc(20px*0.78);  */
  }

  .aboutpage-language #contents .sp-txt-9{
    font-size: 3.2vw;
    /* font-size: 24px;  */
  }



#top, #about ,.aboutpage-language{
  position: relative;
  overflow: hidden;
  background-color: #eeeeee;
}

#contents {
  position: relative;
  top: -70px;
  overflow: hidden;
  background-color: #fff;
}

/* ========================================
    #header
========================================= */
/* .header-above */
header .header-split .header-above {
  width: 100%;
  height: 24px;
  padding: 3px 0;
  background-color: #ec635d;
}

header .header-split .header-above p {
  margin-left: 15px;
  font-size: 12px;
}

/* .headerbottom */
header .header-split .header-bottom {
  display: flex;
  position: relative;
  z-index: 9999999;
  width: 100%;
  height: 70px;
  padding: 0 19px 0 100px;
  background-color: rgba(0, 0, 0, 0.3);
}

header .header-split .header-bottom figure {
  position: absolute;
  top: 5px;
  left: 31px;
  padding-top: 5px;
}

header .header-split .header-bottom .header-bottom-left {
  display: table;
  float: left;
  width: 76%;
}

header .header-split .header-bottom .header-bottom-right {
  /* width: 20%;
  display: table; */
  float: right;
}

header .header-split .header-bottom .header-bottom-left nav.pc-menu {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

header .header-split .header-bottom .header-bottom-right {
  position: absolute;
  top: 16px;
  right: 12px;
  /* display: table; */
}


header .header-split .header-bottom .header-bottom-right .language ul li {
  display: table-cell;
  vertical-align: middle;
}

header .header-split .header-bottom .header-bottom-right .language ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0 10px;
  /* line-height: 2.3; */
}

header .header-split .header-bottom .header-bottom-right .language ul li:first-child a {
  position: relative;
  width: 80px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  border-radius: 20px;
  padding: 0 20px;
}

header .header-split .header-bottom .header-bottom-right .language ul li:first-child a:hover::after {
  border-top: 1px solid #000;
  border-right: 1px solid #000;
}

header .header-split .header-bottom .header-bottom-right .language ul li:first-child a::after {
  content: "";
  display: block;
  position: absolute;
  left: 48px;
  top: 12px;
  transform: rotate(135deg);
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}


/* ========================================
    .contact-list
========================================= */
.common .contact-list {
  width: 100%;
  padding: 20px 0 65px;
  background-color: #eee;
  text-align: center;
}

.common .contact-list ul {
  justify-content: space-between;
}

.common .contact-list ul {
  justify-content: center;
}

.common .contact-list ul li:first-child{
  margin-right:30px;
}

.common .contact-list ul li:last-child{
  margin-left:30px;
}

.common .contact-list ul li {
  display: table;
  position: relative;
  width: 29%;
  text-align: left;
}

.common .contact-list ul li p {
  display: block;
  position: absolute;
  top: -34px;
  width: 100%;
  font-size: 20px;
  color: #333;
}

.common .contact-list ul li:nth-child(1) a {
  background-color: #ec635d;
}

.common .contact-list ul li:nth-child(2) a {
  background-color: #4d5f65;
}

.common .contact-list ul li a {
  display: table-cell;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;

}

/* ========================================
   category
========================================= */
.common .category-list {
  width: 100%;
  padding: 0;
}

/* ========================================
   .sponcer
========================================= */
.common .sponcer {
  width: 100%;
  padding: 40px 0 36px;
  text-align: center;
}

.common .sponcer ul {
  display: flex;
  justify-content: space-between;
}

.common .sponcer ul li a img {
  width: 98.54%;
  object-fit: cover;
}

/* ========================================
    #footer
========================================= */
footer {
  width: 100%;
  background: #000;
}

footer .footer-inner {
  display: flex;
  max-width: 1100px;
  height: 229px;
  margin: 0 auto;
  padding: 23px 0 34px 0;
  align-items: center;
}

footer .footer-inner ul li a, footer .footer-inner p {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: normal;
}


footer .footer-inner p {
  font-size: 12px;
  font-weight: lighter;
}

footer .contact-and-social-account .contact {
  margin-bottom: 20px;
}

footer .contact-and-social-account .contact .contact-btn {
  display: table;
  width: 90%;
  height: 42px;
  margin-bottom: 19px;
  border-radius: 4px;
  text-align: center;
  background-color: #222;
}

footer .contact-and-social-account .contact .contact-btn span {
  display: table-cell;
  vertical-align: middle;
}

footer .contact-and-social-account .contact .contact-btn span a {
  display: inline-block;
  padding: 15px 0 13px 40px;
  background: url(/images/formedia.png)no-repeat left center;
  font-weight: normal;
  color: #999;
}

footer .contact-and-social-account .contact p {
  margin-bottom: 11px;
  font-size: 16px;
  color: #999;
}

footer .social-account ul li a {
  display: inline-block;
  height: 40px;
}

footer .contact-and-social-account .social-account ul {
  display: flex;
}

footer .contact-and-social-account .social-account p {
  margin-bottom: 11px;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

footer .contact-and-social-account .social-account ul li {
  margin-right: 20px;
}

footer .contact-and-social-account .social-account ul li:last-child {
  margin-right: 0;
}

footer .footer-inner .footer-nav .sp-footer-nav {
  display: inline-flex;
  padding: 58px 0 68px 0;
  text-align: left;
}

footer .footer-inner .footer-nav .sp-footer-nav ul:first-child {
  margin-right: 40px;
}

/* ========================================


    !!!! #about


========================================= */
.aboutpage-language .hero {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(/images/about/hero-bg.png) no-repeat center center;
  background-size: cover;
  text-align: center;
}

.aboutpage-language .hero h1 {
  padding: 239px 0 128px 0;
}

.aboutpage-language .menu-path{
  float: left;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 8px 35px;
  background-color: rgba(255, 255, 255, 0.3);
  text-align: left;
}

.aboutpage-language .menu-path a,.aboutpage-language .menu-path p {
  display: inline-block;
  margin-right: 9px;
  color: #333;
}

/* ========================================


    !!!! .aboutpage-language


========================================= */
.aboutpage-language #contents *{
  color: #000;
}

.aboutpage-language #contents .inner{
    width: 100%;
    padding: 6% 3%;
  margin:0 auto;
}

.aboutpage-language #contents .sub-hero{
  text-align: center;
}

.aboutpage-language #contents .sub-hero{
  padding: 78px 0 70px;
}

.aboutpage-language #contents .sub-hero h2{
 line-height: 1.2;
}

.aboutpage-language #contents .sub-hero h2 span{
  display: inline-block;
  margin-bottom: 2%;

}

.aboutpage-language #contents .sub-hero h2{
  margin-bottom: 7%;
}

.aboutpage-language #contents .sub-hero .sp-img{
  display: inline-block;
  /* margin-bottom: 54px; */
  margin-bottom: 3%;

}

.aboutpage-language #contents .sub-hero p{
  text-align: left;
  /* font-size: 18px; */
  padding: 2.9%;
  line-height: 1.75;
}

.aboutpage-language #contents .section{
  overflow: hidden;
}

.aboutpage-language #contents .section .img{
  width: 100%;
  vertical-align: bottom;
  text-align: center;
}

.aboutpage-language #contents .section01 .img img{
    width: 75%;
  }


.aboutpage-language #contents .section01{
  background-color: #fdefee;
  padding-bottom: 8%;
}

.aboutpage-language #contents .section01 .description{
  padding: 3.5% 3% 6%;
}

.aboutpage-language #contents .section01 .description .font1{
  margin-bottom: 46px;
}

.aboutpage-language #contents .section01 .description .font1{
    margin-bottom: 5%;

}


.aboutpage-language #contents .section01 .description .font1{
    text-align: center;
  line-height: 1.3;
}

.aboutpage-language #contents .section01 .description .font1 br{
    display: none;
}

.aboutpage-language #contents .section01 .description p{
  line-height: 1.7;
}

.aboutpage-language #contents .section03{
  padding-bottom:13%;
}

.aboutpage-language #contents .section03 .description{
  /* float: right; */
  padding:77px 0 0 44px;
  text-align: center;
  margin:0 3.5%;
  padding: 9% 6.3% 12%;
  background-color: #fdefee;
}

.aboutpage-language #contents .img{
  margin-bottom:3%;
}

.aboutpage-language #contents .section02 .description .sp-txt-1{
  margin-bottom: 3.3%;
  line-height: 1.2;
}

.aboutpage-language #contents .section03 .description br{
  display: none;
}

.aboutpage-language #contents .section03 .description h2{
  margin-bottom: 28px;
  line-height: 1.3;
}

.aboutpage-language #contents .section .description img{
  display: inline-block;
  margin-bottom: 3.5%;
}

.aboutpage-language #contents .section .description .font5{
  text-align: left;
  line-height: 1.7;
}

.aboutpage-language #contents .ramen-about{
  padding: 36px 10px 68px;
}

.aboutpage-language #contents .ramen-about{
  padding: 7% 1.2% 2%;
}

.aboutpage-language #contents .ramen-about h2{
  margin-bottom: 2%;
}

.aboutpage-language #contents .ramen-about h2{
  line-height: 1.2;
    text-align: center;
}

.aboutpage-language #contents .ramen-about .font2{
  line-height: 1.8;
}

.aboutpage-language #contents .center{
  margin-bottom: 68px;
}

.aboutpage-language #contents .center {
  margin-bottom: 18%;
}

.aboutpage-language #contents .trial-lesson{
  padding: 40px 10px 55px;
}

.aboutpage-language #contents .trial-lesson{
  padding: 60px 0 40px;
}

.aboutpage-language #contents .trial-lesson h2{
  margin-bottom: 33px;
}

.aboutpage-language #contents .trial-lesson h2{
  margin-bottom: 2%;
}

.aboutpage-language #contents .trial-lesson h3{
  font-size: 3.733333333vw;
}

.aboutpage-language #contents .trial-lesson .sp-txt-1 {
  text-align:center;
}

.aboutpage-language #contents .trial-lesson h3{
  line-height: 1.7;

}


.aboutpage-language #contents .stay{
  /* margin-bottom: 78px; */
  background-color: #fdefee;
  overflow: hidden;
}

.aboutpage-language #contents .stay{
    padding-bottom: 8%;
    margin-bottom: 0;
  background-color: #fdefee;
  overflow: hidden;
}


.aboutpage-language #contents .stay .stay-img{
  width: 100%;
  text-align: center;
}

.aboutpage-language #contents .stay .stay-img img{
    width: 44%;
}

.aboutpage-language #contents .stay .stay-caption{
  padding-top: 52px;
}


.aboutpage-language #contents .stay .stay-caption{
  padding-top:5%;
}

.aboutpage-language #contents .stay .stay-caption .font1{   
  margin-bottom: 19px;
  text-align: center;
  font-size: 6.6666666vw;
}

.aboutpage-language #contents .stay .stay-caption h2{
  margin-bottom: 9px;
}

.aboutpage-language #contents .stay .stay-caption .font2{
  margin-bottom: 5%;
}


.aboutpage-language #contents .translator{
  width: 100%;
  padding-top:111px;
  background:url(/images/en/sp/background02.png) no-repeat center center;
  background-size: cover;

}

.aboutpage-language #contents .translator{
  padding: 10% 0 14.9%;
}

.aboutpage-language #contents .translator .sp-txt-1{
  margin-bottom: 42px;
  text-align: center;
}

.aboutpage-language #contents .translator .inner p{
  line-height: 1.7;
}

.aboutpage-language .sp-txt-1{
  font-size: 6.6666666vw;
/* 50px */
}

.aboutpage-language #contents .support .sp-txt-1{
  line-height: 1.2;
}



.aboutpage-language #contents .support{
  padding: 9% 3% 2.8%;
}

.aboutpage-language #contents .support h2{
  margin-bottom:38px;
}

.aboutpage-language#contents .support h2{
  margin-bottom:23px;
}

.aboutpage-language #contents .support p{
  margin-bottom: 54px;
}

.aboutpage-language #contents .course1{
  width: 100%;
  /* height: 550px; */
  padding-top: 70px;
  background:url(/images/en/sp/background01.png) no-repeat center center;
  background-size: cover;
  overflow:hidden;
}

.aboutpage-language #contents .course1{
  padding: 7% 0 2%;

}

.aboutpage-language #contents .course1 h2{
  margin-bottom: 16px;
}

.aboutpage-language #contents .course1 h2{
  margin-bottom: 30px;
  text-align: center;
  /* font-size: 4.28571428vw; */
}

.aboutpage-language #contents .course1 .inner ul{
  width: 100%;
  height: auto;
  margin-top:15px;
}

.aboutpage-language #contents .course1 .inner ul{
  margin-top:6%;
  padding:0 10%;

}

.aboutpage-language #contents .course1 .inner .font2{
  line-height: 1.7;
}

.aboutpage-language #contents .course1 .inner li.plan{
  float: unset;
  display: flex;
  align-items: center;
  width: 96.090909%;
  height: 65px;
  margin-bottom: 15px;
  padding:10px 20px 10px 72px;
  border-radius: 4px;
  background-color:#c2312b;
}

.aboutpage-language #contents .course1 .inner li.plan:nth-child(even){
  float: unset;
}

.aboutpage-language #contents .course1 .inner li.plan .plan-cost{
  width: 72%;
  padding: 7px 12px;
  background-color:#FFF;
  font-weight: bold;
}

.aboutpage-language #contents .course1 .inner li.plan .plan-cost .sp-txt-6{
  line-height: 1.125;
}

.aboutpage-language #contents .teacher{
  margin-bottom: 30px;
  padding-top: 100px;
  overflow: hidden;
}

.aboutpage-language#contents .teacher{
  padding-top: 9%;

}

.center-items{
  text-align: center;
}

.aboutpage-language #contents .teacher .center-items{
  margin-bottom: 78px;
}

.aboutpage-language #contents .teacher .center-items{
  margin-bottom: 57px;
}

.aboutpage-language #contents .teacher .center-items p{
  margin-bottom: 24px;
}

.aboutpage-language #contents .teacher .center-items p{
  margin-bottom: 4.5%;
  line-height: 1.2;
  font-weight: 100;
}

.aboutpage-language #contents .teacher .center-items .sp-img{
  margin-bottom: 25px;
  display: inline-block;
}

.aboutpage-language #contents .teacher .center-items img{
  margin-bottom: 16px;
}

.aboutpage-language #contents .teacher ul {
  width: 100%;
  height: auto;
}

.aboutpage-language #contents .teacher ul li{
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  overflow: hidden;
}

.aboutpage-language #contents .teacher ul li .position{
  text-align: center;
}

.aboutpage-language #contents .teacher ul li .teacher-img{
  display: inline-block;
  margin-bottom: 4.5%;
  width: 100%;

}

.aboutpage-language #contents .teacher ul li .teacher-img img{
  vertical-align: text-top;
}

.aboutpage-language #contents .teacher ul li .about-teacher{
  display: inline-block;
  width: 100%;
  text-align: left;
}

.aboutpage-language #contents .teacher ul li .about-teacher h3{
  margin-bottom: 28px;
}

.aboutpage-language #contents .teacher ul li .about-teacher .sp-txt-1{
  margin-bottom: 7px;
  text-align: center;
}

.aboutpage-language #contents .teacher ul li .about-teacher .font2{
  line-height: 1.7;
}

.aboutpage-language #contents .teacher ul li .about-teacher .font2 br{
  display: none;
}

.aboutpage-language #contents .teacher ul li .about-teacher p.position{
  margin-bottom: 38px;
}

.aboutpage-language #contents .teacher ul li .about-teacher p.position{
  margin-bottom: 25px;
}

.aboutpage-language #contents .section02{
  /* height: 590px; */
  margin-bottom: 19%;
  text-align: center;
  
}

.aboutpage-language #contents .section02{
  background-color: #fdefee;
}

.aboutpage-language #contents .section02 .description{
  /* float: left; */
  padding: 90px 44px 0 52px;

}

.aboutpage-language #contents .section02 .description{
  padding: 7% 1% 0;
}

.aboutpage-language #contents .section02 .description .font4{
  margin-bottom:8%;
}

.aboutpage-language #contents .section02 .description .font4{
  margin-bottom:5%;
  line-height: 1.3;
}


.aboutpage-language #contents .section02 .description .center-items img{
  display: inline-block;
  margin-bottom: 27px;
}

.aboutpage-language #contents .section02 .description .center-items img{
  margin-bottom: 16px;
}

.aboutpage-language #contents .section02 .description .font2{
  line-height: 1.7;
}

.aboutpage-language #contents .section02 .description .font2{
  line-height: 1.7;
  margin-left: 14px;
  text-align: left;
}

.aboutpage-language #contents .section02 .img{
  /* float: right; */
  display: inline-block;
}

.aboutpage-language #contents .section02 .img{
  height: 100%;
}

.aboutpage-language #contents .section02 .img img{
  height: 100%;
  object-fit: cover;
}

.aboutpage-language #contents .section02 .font2 br{
  display: none;
}

.aboutpage-language #contents .price{
  display: inline-block;
  width: 89%;
  margin: 7% 0 9%;
  background-color: #c2312b;
  text-align: center;
  border-radius: 4px;
  padding: 14px 28px 30px;
}

.aboutpage-language #contents .trial-course .price{
  width: 85%;
  margin: 0;
}

.aboutpage-language #contents .price .plan-cost{
  width: 100%;
}


.aboutpage-language #contents .price h3{
  color: #fff;
  text-align: left;
}

.aboutpage-language #contents .trial-course .price h3{

  text-align: center;
}

.aboutpage-language #contents .price .plan-cost{
  display: inline-block;
  width :90%;
  padding:5px 13px;
  background-color: #fff;
  text-align: left;
}

.aboutpage-language #contents .price .plan-cost{
    width: 100%;
    padding: 9px 4px 9px 13px;
  }

.aboutpage-language #contents .price .plan-cost{
  width: 99%;
  padding: 5px 0 14px 13px;
}

.aboutpage-language #contents .trial-course .price .plan-cost{
  width: 91%;
}

.aboutpage-language #contents .price .plan-cost p{
  font-size:3.4133333333vw;
  font-weight: bold;
}

.aboutpage-language #contents .price .plan-cost p span{
  font-size: 4.26666666vw;
}

.aboutpage-language #contents .trial-course{
  padding:67px 0 50px;
  text-align: center;
}

.aboutpage-language #contents .trial-course{
  padding-top:4%;

}

.aboutpage-language #contents .trial-course p.trial-course-about{
  display: inline-block;
  width: 91%;
  height: 127px;
  margin-bottom: 7%;
  padding:25px 0;
  background-color: #eee;
  text-align: center;
}

.aboutpage-language #contents .trial-course h2{
  margin-bottom: 42px;
}

.aboutpage-language #contents .trial-course .sp-txt-1{
  margin-bottom: 6%;
  line-height: 1.2;
}

.aboutpage-language #contents .trial-course .trial-course-list{
  margin-bottom: 1%;
  overflow: hidden;
  text-align: center;
}

.aboutpage-language #contents .trial-course .trial-course-list .about-box{
  display: inline-block;
  width: 70%;
  height: 400px;
  margin-bottom:5%;
  padding: 22px 38px 0;
  border: 5px solid #ec635d;
  line-height: 1.7;
  text-align: left;

}

.aboutpage-language #contents .trial-course .trial-course-list .about-box h3{
  margin-bottom: 1%;

}

.aboutpage-language #contents .trial-course .trial-course-list .about-box ul li{
  margin-bottom: 5%;
  line-height: 1.4;

}

.aboutpage-language #contents .trial-course .trial-course-list .about-box br{
  display:none;

}

/* .aboutpage-language #contents  */
.contact-list ul li a {
  color: #fff;

}

/* =======================================

english
========================================= */

#contents .course1 .inner li.plan{
  margin-bottom: 4%;
  padding:10px 20px 10px 32px;
}

#contents .course1 .inner li.plan h3{
  width: 50%;
}

#contents .plan-cost{
  line-height: 1;
}
/* =======================================

common
========================================= */

.contents {
  width: 100%;
}

a:hover {
  opacity: 0.3;
  transition: 0.2s;
}

/* ========================================
    slick
========================================= */
.center{
  overflow: hidden;
}

.center .ramen-pics {
  text-align: center;
}

.center .ramen-pic {
  display: inline-block;
  width: 280px;
  max-width: 100%;
  height: auto;
  padding: 0 13px 10px;
}

.center p {
  color: #000;
  font-size: 1.714vw;
}

/* ========================================
    @media
========================================= */

  #contents {
    position: relative;
    top: -100px;
  }

  header .header-split .header-above {
    height: 52px;
    padding: 18px 5px;
  }

  header .header-split .header-above p {
    font-size: 20px;
  }

  header .header-split .header-bottom {
    display: block;
  }

  /* sp header */
  header .header-split .header-bottom .header-bottom-left nav.pc-menu {
    display: none;
  }

  /* sp header */
  header .header-split .header-bottom .header-bottom-left {
    position: relative;
    width: 100%;
  }

  header .header-split .header-bottom {
    flex-direction: row-reverse;
    height: 100px;
    padding: 0 0 0 2vw;
  }

  header .header-split .header-bottom .header-bottom-right .language ul li:first-child a {
    display: inline-block;
    width: 19.2vw;
    height: 9.6vw;
    margin-right: 9px;
    border: 1px solid #fff;
    border-radius: 36px;
    padding: 10% 24%;
    /* line-height: 2.3; */
    text-align: left;
  }

  header .header-split .header-bottom .header-bottom-right .language ul li a {
    display: inline-block;
    width: 9.6vw;
    height: 9.6vw;
    /* margin-right: 9px; */
    border: 1px solid #fff;
    border-radius: 50%;
    padding:15%;
    /* line-height: 2.3; */
    font-size: 3.7333333333vw;
    font-weight: normal;
    text-align: center;
  }

  header .header-split .header-bottom .header-bottom-right .language ul li:first-child a::after {
    content: "";
    display: block;
    position: absolute;
    left: 11.4666666667vw;
    top: 3.2vw;
    transform: rotate(135deg);
    width: 12px;
    height: 12px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }

  header .header-split .header-bottom .header-bottom-right .language ul li a:hover {
    color: #000;
    background-color: #fff;
    opacity: 1;
    transition: 0.1s;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button {
    position: absolute;
    top: 50px;
    right: 3vw;
    /* max-width: 60px; */
    width: 8vw;
    height: auto;
    line-height: 1.25;
    transform: translate(0, -50%);
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button img.close {
    display: none;
    width: 100%;
    opacity: 0;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button img.open {
    width: 100%;
    opacity: 1;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-right {
    position: absolute;
    top: 50px;
    left: 52.5%;
    transform: translateY(-50%) translateX(-50%);
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu.open {
    display: block;
    position: absolute;
    top: 100px;
    right: 0;
    width: 102%;
    padding-top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 1;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu.close {
    display: block;
    width: 120%;
    position: absolute;
    top: 100px;
    right: -300px;
    padding-top: 10px;
    text-align: center;
    opacity: 0;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li:last-child {
    border-bottom: 0;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li a {
    font-size: 4vw;
  }


.center p {
    font-size: 3.2vw;
  }



  .common-inner{
    display: block;
    margin: 0 16.26%;
    justify-content: unset;
  }


  .common .contact-list {
    padding: 151px 0 40px 0;
  }

  .common .contact-list ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 138px;
    text-align: left;
  }

  .common .contact-list ul li:last-child {
    margin-bottom: 0;
  }

  .common .contact-list ul li p {
    display: block;
    position: absolute;
    top: -84px;
    left: -7px;
    width: 100%;
    font-size: 6.4vw;
  }

  .common .contact-list ul li a {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 160px;
    border-radius: 4px;
    line-height: 160px;
    text-align: center;
    font-size: 6.26666vw;
  }

  .common .contact-list ul li:first-child a {
    font-size: 4.26666vw;
  }

  .common .contact-list ul li:last-child {
    margin-left: 0;
}

  .category-list {
    display: none;
  }

  .common .sponcer {
    width: 100%;
    padding: 40px 0 0;
    background-color: #eee;
    text-align: center;
  }

  .common .sponcer ul {
    display: block;
    overflow: hidden;
    justify-content: unset;
  }

  .common .sponcer ul li {
    width: 48%;
    height: 158px;
    margin-bottom: 11px;
  }

  .common .sponcer ul li:nth-child(odd) {
    display: block;
    float: left;
  }

  .common .sponcer ul li:nth-child(even) {
    display: block;
    float: right;
  }

  .common .sponcer ul.inner {
    margin: 0 9.6%;
  }

  footer .footer-inner {
    display: block;
    padding: 0;
    margin: 0 7.6%;
    height: auto;
    text-align: center;
  }

  footer .footer-inner .pc-footer-nav {
    display: none;
  }

  footer .footer-inner ul li a, footer .footer-inner p {
    font-size: 4vw;
  }

  footer .contact-and-social-account {
    display: flex;
    padding: 0 8%;
  }

  footer .contact-and-social-account .contact p {
    display: none;
  }

  footer .contact-and-social-account .social-account p {
    display: none;
  }

  footer .contact-and-social-account .social-account ul li:first-child {
    display: none;
  }

  footer .contact-and-social-account .social-account ul li:nth-child(2) {
    display: none;
  }

  footer .contact-and-social-account .social-account ul li:last-child {
    display: none;
  }

  footer .contact-and-social-account .contact {
    width: 100%;
  }

  footer .contact-and-social-account .contact .contact-btn {
    margin-right: 40px;
  }

  footer .contact-and-social-account .contact .contact-btn span a {
    width: 53%;
    font-weight: normal;
  }

  footer .footer-inner .copyright {
    /* width: 24%; */
    border-right: 0 solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    padding: 67px 0 75px 0;
  }

  footer .footer-inner .copyright img {
    object-fit: cover;
    width: 65%;
  }

  footer .footer-inner .copyright p br {
    display: none;
  }

/* 
@media screen and (max-width:500px) {
  header .header-split .header-bottom .header-bottom-right .language ul li:first-child a {
    width: 19.2vw;
    padding: 0 30px;
  }

  header .header-split .header-bottom .header-bottom-right .language ul li a {
    width: 9.6vw;
    height: 9.6vw;
  }

  footer .contact-and-social-account .contact .contact-btn span a {
    width: 85%;
    font-weight: normal;
  }

  footer .contact-and-social-account .contact .contact-btn span a {
    padding: 15px 0 13px 30px;
  }
}

  @media screen and (max-width:400px) {
    header .header-split .header-bottom .header-bottom-left .sp-menu-button img {
      width: 60%
    }

  } */
