@charset "UTF-8";

#top,#about {
  position: relative;
  overflow: hidden;
}

#contents {
  position: relative;
  top: -70px;
  overflow: hidden;
}

/* ========================================
    #header
========================================= */
/* .header-above */
header .header-split .header-above {
  width: 100%;
  height: 24px;
  padding: 3px 0;
  background-color: #ec635d;
}

header .header-split .header-above p {
  margin-left: 15px;
  font-size: 12px;
}

/* .headerbottom */
header .header-split .header-bottom {
  display: flex;
  position: relative;
  z-index: 9999999;
  width: 100%;
  height: 70px;
  padding: 0 19px 0 87px;
  background-color: rgba(0, 0, 0, 0.3);

}

header .header-split .header-bottom figure {
  position: absolute;
  top: 0;
  left: 15px;
  padding-top: 5px;
}

header .header-split .header-bottom .header-bottom-left {
  display: table;
  float: left;
  width: 76%;

}

header .header-split .header-bottom .header-bottom-right {
  width: 20%;
  display: table;
  float: right;
}

header .header-split .header-bottom .header-bottom-left nav.pc-menu {
  display: table-cell;
  vertical-align: middle;
  height: 70px;
}

header .header-split .header-bottom .header-bottom-left nav.pc-menu ul {
  display: table;
  padding-left: 28px;
}

header .header-split .header-bottom .header-bottom-left nav.pc-menu ul li {
  display: table-cell;
  vertical-align: middle;

}

header .header-split .header-bottom .header-bottom-left nav.pc-menu ul li a {
  display: inline-block;
  margin-right: 12px;
  font-size: 12.5px;
}

header .header-split .header-bottom .header-bottom-left nav.pc-menu ul li:last-child a {
  margin-right: 0;
}

header .header-split .header-bottom .header-bottom-right .language {
  display: table;
}

header .header-split .header-bottom .header-bottom-right .language ul {
  display: table;
  height: 70px;
}

header .header-split .header-bottom .header-bottom-right .language ul li {
  display: table-cell;
  vertical-align: middle;
}

header .header-split .header-bottom .header-bottom-right .language ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 9px;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 0 10px;
  line-height: 2.3;

}

header .header-split .header-bottom .header-bottom-right .language ul li a:hover {
  border-bottom: 1px solid #fff;
}

header .header-split .header-bottom .header-bottom-right .language ul li:first-child a {
  position: relative;
  width: 80px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  border-radius: 20px;
  padding: 0 20px;

}

header .header-split .header-bottom .header-bottom-right .language ul li:first-child a::after {
  content: "";
  display: block;
  position: absolute;
  left: 56px;
  top: 14px;
  transform: rotate(135deg);
  width: 7px;
  height: 7px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* ========================================
    .hero
========================================= */
#top #contents .hero {
  position: relative;
  width: 100%;
  height: 577px;
  margin: 0 auto;
  margin-bottom: 23%;
  background: url(/images/hero.png)no-repeat center center;
  background-size: cover;
  text-align: center;
}

#top #contents .hero h1 {
  display: inline-block;
  position: absolute;
  top: 124px;
  right: 0;
  left: 0;
  z-index: 999;
  font-size: 16px;
}

#top #contents .hero .hero-title-img {
  display: inline-block;
  z-index: 888;
  max-width: 361px;
  width: 100%;
  margin-top: 162px;
  margin-bottom: 36px;
}

#top #contents .hero .hero-title-img img {
  width: 100%;
}

/* ========================================
    .the-school
========================================= */
#top #contents .the-school {
  width: 100%;
  background: url(/images/school-bg.png)no-repeat center top;
  background-size: cover;
  padding: 60px 0;
  text-align: center;
}

#top #contents .the-school h3 {
  padding: 21px 0 48px 0;
  font-size: 40px;
  line-height: 1.4;
}

/* ========================================
    .instructor
========================================= */
#top #contents .instructor {
  width: 100%;
  height: 433px;
  background: url(/images/instructor-bg.png) no-repeat center top;
  background-size: contain;
  /* padding-top: 31.17%; */
  padding: 141px 0 0 0;
  text-align: center;
}

#top #contents .instructor h3 {
  padding: 11px 0 92px 0;
  font-size: 40px;
  line-height: 1.4;
}

/* ========================================
    .course
========================================= */
#top #contents .course {
  padding: 40px 0 54px 0;
  text-align: center;
}

#top #contents .course h2 {
  padding-bottom: 26px;
}

#top #contents .course .inner h3 {
  width: 48.63%;
}

#top #contents .course .inner h3 a{
  display: block;
  object-fit: contain;
  width: 100%;
  padding: 271px 0 34px 0;
  font-size: 30px;
  font-weight: bold;
}

#top #contents .course .inner h3 a:first-child {
  background: url(/images/course01-bg.png) no-repeat center top;
}

#top #contents .course .inner h3 a:last-child {
  background: url(/images/course02-bg.png) no-repeat center top;
}

/* ========================================
    .banner
========================================= */
#top #contents .banner {
  width: 100%;
  margin-bottom: 54px;
}

#top #contents .banner img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/* ========================================
    .voice
========================================= */
#top #contents .voices {
  width: 100%;
  margin-bottom: 57px;
  text-align: center;
}

#top #contents .voices h2 {
  margin-bottom: 30px;
}

#top #contents .voices .voice-slider .voice {
  position: relative;
  width: 100%;
  height: 253px;
  margin-right: 10px;
  overflow: hidden;
}

#top #contents .voices .voice-slider .voice .caption {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.caption p, .caption a {
  color: #fff;
  font-size: 24px;
}

#top #contents .voices .voice-slider .voice1 {
  background: url(/images/voice1.png) no-repeat center center;
}

#top #contents .voices .voice-slider .voice2 {
  background: url(/images/voice1.png) no-repeat center center;
}

#top #contents .voices .voice-slider .voice3 {
  background: url(/images/voice1.png) no-repeat center center;
}

#top #contents .voices .voice-slider .voice4 {
  background: url(/images/voice1.png) no-repeat center center;
}

#top #contents .voices .voice-slider .voice5 {
  background: url(/images/voice1.png) no-repeat center center;
}

/* ========================================
    .alum
========================================= */
#top #contents .alum {
  width: 100%;
  margin-bottom: 60px;
  text-align: center;
}

#top #contents .alum h2 {
  margin-bottom: 34px;
}

#top #contents .alum h3 {
  margin: 27px 0 25px 0;
  font-size: 30px;
  color: #000;
  line-height: 1.3;
}

#top #contents .alum .alum-og {
  margin-bottom: 51px;
}

#top #contents .alum .alum-og img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

/* ========================================
    .video
========================================= */
#top #contents .videos {
  padding: 60px 0;
  background-color: #d6d6d6;
  text-align: center;

}

#top #contents .videos h2 {
  margin-bottom: 20px;
}

#top #contents .videos .inner {
  margin-bottom: 29px;
}

#top #contents .videos .inner .video {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  text-align: left;

}

#top #contents .videos .inner .video a img {
  display: inline-block;
  width: 100%;
  margin-bottom: 6px;
}

#top #contents .videos .video h3 a {
  color: #333;
}

#top #contents .videos .video time {
  color: #545454;
}

/* ========================================
.blog
========================================= */
#top #contents  {
  width: 100%;
  /* padding: 86px 0 53px 0; */
  text-align: center;
}

#top #contents  h2 {
  margin-bottom: 9px;
}

#top #contents  .inner .article,.sp-blog .article {
  width: 32%;
  text-align: left;
}

#top #contents  .inner .article img,  .sp-blog .article img {
  object-fit: cover;
  width: 100%;
  margin-bottom: 12px;
}

#top #contents .blog{
  padding:86px 0 78px 0;
}

#top #contents .blog .inner .article h3 a,.sp-blog h3 a{
  margin-bottom: 4px;
  font-size: 20px;
  color: #333;
  line-height: 1.2;
}

#top #contents .blog .inner .article time,.sp-blog time {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: normal;
  color: #999;
}

#top #contents .blog .inner .article p a,.sp-blog p a{
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

#top #contents .blog .inner .article2 .hushtag a,.sp-blog a {
  line-height: 1.25;
}

#top #contents .blog .inner .article .hushtag,.sp-blog .hushtag {
  position: relative;width: auto;
  padding: 5px 0 5px 40px;
  border-radius: 4px;
  margin-bottom: 12px;
  background: #ec635d;
}

#top #contents .blog .inner .article .hushtag::after,.sp-blog .hushtag::after {
  content: "";
  position: absolute;
  left: 10px;
  top: 7px;
  width: 20px;
  height: 19px;
  background: #ec635d url(/images/tag.png)no-repeat left top;
}

/* ========================================
    .access
========================================= */
#top #contents .access {
  width: 100%;
  padding: 56px 0 56px 0;
  background-color: #000;
}

#top #contents .access .inner .access-description {
  width: 48.18%;
  text-align: center;
}

#top #contents .access .inner .access-description .access-text,.access-title {
  text-align: left;
}

#top #contents .access .inner .access-description .access-text{
  display: inline-block;
  padding-top: 5px;
  font-size: 16px;
  font-weight: 500;
}
#top #contents .access .inner .access-description .access-title{
  margin-bottom: 20px;
}

#top #contents .access .inner .access-description .access-title h2,.access-title h2{
  font-size: 20px;
  font-weight: 600;
}

#top #contents .access .inner .access-description .access-title p{
  font-size: 20px;
  font-weight: 500;
}


/* ======== iframe ======= */

#top #contents .access .inner .access-description .gmap iframe {
  width: 100%;
  height: 330px;
  border: 0;
  margin-bottom: 18px;
}

#top #contents .access .inner .access-description .gmap-btn {
  display: inline-block;
  position: relative;
  z-index: 11;
  width: 160px;
  height: 40px;
  margin-bottom: 33px;
  padding-right: 30px;
  border-radius: 4px;
  background: #555 url(/images/gmap-btn-arrow.png)no-repeat right 20px center/6%;
  line-height: 2.4;
  text-align: center;
}

/* ========================================
    fb　　（（instragram）
========================================= */

#top #contents .fb-area {
  width: 100%;
  height: 660px;
  margin: 0 auto;
  padding: 80px 15px;
  text-align: center;
}

#top #contents .fb-prugin{
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

#top #contents .fb-prugin iframe {
  width: 100%;

}

/* ========================================
    .contact-list
========================================= */
#contents .contact-list {
  width: 100%;
  padding: 106px 0 67px;
  background-color: #eee;
  text-align: center;
}

#contents .contact-list ul {
  justify-content: space-between;
}

#contents .contact-list ul li {
  display: table;
  position: relative;
  width: 29%;
  text-align: left;
}

#contents .contact-list ul li p {
  display: block;
  position: absolute;
  top: -40px;
  width: 100%;
  font-size: 20px;
  color: #333;
}

#contents .contact-list ul li:nth-child(1) a {
  background-color: #ec635d;
}

#contents .contact-list ul li:nth-child(2) a {
  background-color: #4d5f65;
}

#contents .contact-list ul li:nth-child(3) a {
  background-color: #4e4d65;
}

#contents .contact-list ul li a {
  display: table-cell;
  width: 100%;
  height: 100px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
}

/* ========================================
   category
========================================= */
#top #contents .category-list {
  width: 100%;
  padding: 0;
}

#top #contents .category-list ul.important-category, ul.sub-category {
  display: inline-flex;
  width: 100%;
}

#top #contents .category-list ul.important-category li, ul.sub-category li {
  background-size: cover;
  text-align: center;
}

#top #contents .category-list ul.important-category li{
  display: block;
  width: 33.41%;
  height: 311px;
}

#top #contents .category-list ul.sub-category li{
  width: 25.54%;
  height: 233px;
}

#top #contents .category-list ul.important-category li a,ul.sub-category li a{
  display: block;
  width: 100%;
  height: 100%;
  color:#fff;
}

#top #contents .category-list ul.important-category li a:hover,ul.sub-category li a:hover{
  background-color: rgba(255,255,255,0.3);
  opacity: 1;
}

#top #contents .category-list ul.important-category li:first-child {
  background: url(/images/ctg-school-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.important-category li:nth-child(2) {
  background: url(/images/ctg-instructor-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.important-category li:last-child {
  background: url(/images/ctg-course-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.important-category li a {
  display: block;
  padding: 170px 0 77px 0;
}

#top #contents .category-list ul.sub-category li a {
  display: inline-block;
  padding: 130px 0 79px 0;
}


#top #contents .category-list ul.sub-category li:first-child {
  background: url(/images/ctg-learn-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.sub-category li:nth-child(2) {
  background: url(/images/ctg-voice-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.sub-category li:nth-child(3) {
  background: url(/images/ctg-alum-bg.png) no-repeat center center;
  background-size: cover;
}

#top #contents .category-list ul.sub-category li:nth-child(4) {
  background: url(/images/ctg-video-bg.png) no-repeat center center;
  background-size: cover;
}

/* ========================================
   .sponcer
========================================= */
#top #contents .sponcer {
  width: 100%;
  padding: 40px 0 0;
  text-align: center;
}

#top #contents .sponcer ul {
  display: flex;
  justify-content: space-between;
}

#top #contents .sponcer ul li a img {
  width: 98.54%;
  object-fit: cover;
}

/* ========================================
    #footer
========================================= */
footer {
  width: 100%;
  background: #000;
}

footer .footer-inner {
  display: flex;
  max-width: 1100px;
  height: 229px;
  margin: 0 auto;
  padding: 23px 0 34px 0;
  align-items: center;
}

footer .footer-inner ul li a, footer .footer-inner p {
  color: #6f6f6f;
  font-size: 16px;
  font-weight: normal;
}

footer .footer-inner ul li a:hover{
  opacity: 1;
  color: #fff;
  transition: 0.2s;
}

footer .footer-inner p {
  font-size: 12px;
  font-weight: lighter;
}

/* .contact-and-social-account   contact */
footer .contact-and-social-account .contact {
  margin-bottom: 20px;
}

footer .contact-and-social-account .contact .contact-btn {
  display: table;
  width: 90%;
  height: 42px;
  margin-bottom: 19px;
  border-radius: 4px;
  text-align: center;
  background-color: #222;
}

footer .contact-and-social-account .contact .contact-btn span {
  display: table-cell;
  vertical-align: middle;
}

footer .contact-and-social-account .contact .contact-btn span a {
  display: inline-block;
  padding: 15px 0 13px 40px;
  background: url(/images/formedia.png)no-repeat left center;
  font-weight: normal;
  color: #999;
}

footer .contact-and-social-account .contact p {
  margin-bottom: 11px;
  font-size: 16px;
  color: #999;
}

footer .social-account ul li a{
  display: inline-block;
  height: 40px;
}

footer .social-account ul li a:hover img{
  opacity:0;
  transition: 0.2s;
}


footer .social-account ul li a:hover{
  opacity:1;
  transition: 0.2s;
}

footer .social-account ul li.youtube a:hover{
  background:url("/images/footer-youtube.png")no-repeat left 0 center;
}

footer .social-account ul li.ig a:hover{
  background:url("/images/footer-ig.png")no-repeat left center;
}

footer .social-account ul li.fb a:hover{
  background:url("/images/footer-fb.png")no-repeat left center;
}

footer .social-account ul li.twitter a:hover{
  background:url("/images/footer-twitter.png")no-repeat left center;
}

footer .contact-and-social-account .social-account ul {
  display: flex;
}

footer .contact-and-social-account .social-account p {
  margin-bottom: 11px;
  font-style: italic;
  font-size: 20px;
  font-weight: bold;
}

footer .contact-and-social-account .social-account ul li {
  margin-right: 20px;
}

footer .contact-and-social-account .social-account ul li:last-child {
  margin-right: 0;
}

footer .footer-inner .footer-nav .sp-footer-nav {
  display: inline-flex;
  padding: 58px 0 68px 0;
  text-align: left;
}

footer .footer-inner .footer-nav .sp-footer-nav ul:first-child {
  margin-right: 40px;
}

/* ========================================
    !!!! #about
========================================= */

#about .hero{
  position: relative;
  width: 100%;
  height:477px;
  background:url(/images/about/hero-bg.png) no-repeat center center;
  background-size: cover;
  text-align:center;
}

#about .hero h1{
  padding:212px 0 192px 0;
}

#about .menu-path{
  float: left;
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 60px;
  padding:18px 50px;
  background-color: rgba(255,255,255,0.3);
  text-align: left;
}

#about .menu-path a,#about .menu-path p{
  display: inline-block;
  margin-right: 9px;
  color: #333;
}

#about .sub-hero {
  width: 100%;
  height: 700px;
  padding-top: 80px;
  background: url(/images/about/sub-hero.png);
  line-height: 1.2;
}

#about .sub-hero h2{
  font-size: 3.57142857143vw;
  text-align: center;
}

#about .section{
  float: left;
  width: 100%;
  height: 470px;
  object-fit: cover;
  overflow: hidden;
}

#about .section *{
  color:#000;

}

#about .section .img{
  display: block;
  float:left;
  width: 50%;

}

/* #about .section .img img{
width: 100%;

} */

#about .section .description{
  display: block;
  float:right;
  width: 50%;
  padding:66px 150px 0 41px;
  line-height: 1.66;
}

#about .section .description h2{
  margin-bottom:32px;
  font-size: 2.85714285714vw;
  font-weight: bold;
}

#about .section .description p{
  font-size: 1.28571428571vw;
}

#about .section .description p span{
  background: linear-gradient(transparent 50%, #f1d5d3 50%);

}

#about .section:nth-child(even) .description{
  float: left;
  padding-left: 150px;
  padding-right:28px;
}

#about .section:nth-child(even) .img{
  float: right;
}

#about .stay{
  width: 1100px;
  height: auto;
  margin:0 auto;
  padding-top: 67px;
  padding-bottom: 42px;
  overflow: hidden;
}

#about .stay h2{
  margin-bottom: 24px;
  font-size: 2.8571428571vw;
  /* font-size: 40px; */
  color: #cb5952;
  text-align: center;

}

#about .stay p{
  margin-bottom: 39px;
}

#about .stay .stay-img{
  float: left;
  margin-right: 42px;
  width: 29.090909%;
}

#about .stay .stay-img img{
  width: 100%;
}


#about .stay p,.stay .stay-caption{
  color: #000;
}

#about .stay .stay-caption p span.stay-text1{
  display:inline-block;
  font-size: 2.142857vw;
}

#about .stay .stay-caption .stay-text2{
  font-size:1.28571428571vw;
}

#about .media{
  width: 100%;
  height: auto;
  padding: 185px 0 0 0;
  background:url(/images/about/media-bg.png)no-repeat center center;
  background-size: cover;
  text-align: center;

}

#about #contents .media h3 {
  margin-bottom: 47px;
    padding: 0px 0 56px 0;
    font-size: 3.857142857vw;
    line-height: 1.4;
}

#about #contents .media-appear{
  width: 1100px;
  margin:0 auto;
  text-align: center;
}

#about #contents .media-appear .genre-title{
  margin-bottom:38px;
  color:#000;
  font-size: 24px;
}

#about #contents .media-appear .appeared{
  margin-bottom: 50px;
  border:1px solid #000;
  padding:39px 22px;
}

#about #contents .media-appear .appeared p{
  color:#3f3f3f;
}


/* =======================================

common
========================================= */
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.contents {
  width: 100%;
}

a:hover{
  opacity: 0.3;
  transition: 0.2s;
}

a.more-info {
  display: inline-block;
  position: relative;
  width: 160px;
  height: 40px;
  padding-top: 8px;
  padding-right: 26px;
  border-radius: 4px;
  background: #fff;
  text-align: center;
  color: #666;
  font-size: 16px;
}

a.wht {
  background: #fff;
  color: #666;
}

a.wht::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 22px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #38302e;
  border-left: 2px solid #38302e;
  transform: rotate(135deg);
}

a.blk {
  background: #000;
  color: #fff;
}

a.blk::after {
  content: "";
  position: absolute;
  top: 15px;
  right: 22px;
  width: 7px;
  height: 7px;
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  transform: rotate(135deg);
}

/* ========================================
    slick
========================================= */
#top #contents .hero .center {
  overflow: hidden;
}

#top #contents .hero .center .ramen-pics {
  text-align: center;
}

#top #contents .hero .center .ramen-pic {
  display: inline-block;
  width: 250px;
  max-width: 100%;
  height: auto;
  padding: 0 13px 10px;
}

#top #contents .hero .center p {
  color: #000;
  font-size: 1.714vw;
}

/* ========================================
    @media
========================================= */
@media screen and (min-width:1100px) {
  header .header-split .header-bottom .header-bottom-left nav.pc-menu ul li a {
    font-size: 1.143vw;
  }
}

@media screen and (min-width:751px) {
  #top,#about {
    min-width: 1100px;
  }

  .inner {
    display: flex;
    margin: 0 10.8%;
    justify-content: space-between;
  }

  header .header-split .header-bottom .header-bottom-left nav.sp-menu {
    display: none;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu-button {
    display: none;
  }

  #top #contents  .sp-blog {
    display: none;
  }

  footer .footer-inner div:nth-child(3) {
    order: 1;
    width: 44%;
  }

  footer .footer-inner div:nth-child(1) {
    order: 2;
    width: 80%;
  }

  footer .footer-inner div:nth-child(2) {
    order: 3;
  }

  footer .footer-inner .copyright {
    border-right: 1px solid #6f6f6f;
  }

  footer .footer-inner .copyright img {
    width: 174px;
    object-fit: cover;
  }

  footer .footer-inner .footer-nav .pc-footer-nav {
    display: flex;
    padding-left: 37px;
    justify-content: space-between;
  }

  footer .footer-inner .footer-nav .pc-footer-nav ul li a {
    line-height: 1.5;
  }

  footer .footer-inner .footer-nav .sp-footer-nav {
    display: none;
  }

}

/* ========================================
    media
========================================= */
@media screen and (max-width:1300px) {
  #top #contents .instructor h3 {
    font-size: 3.1vw;
  }
}

@media screen and (min-width:1100px) {
  header .header-split .header-bottom nav.pc-menu {
    font-size: 1.14vw;
  }

  #contents .contact-list ul li a {
    font-size: 1.42857vw;
  }
}

@media screen and (max-width:750px) {
  #top #contents {
    position: relative;
    top: -70px;
  }

  header .header-split .header-bottom {
    display: block;
  }

  /* sp header */
  header .header-split .header-bottom .header-bottom-left nav.pc-menu {
    display: none;
  }

  /* sp header */
  header .header-split .header-bottom .header-bottom-left {
    position: relative;
    width: 100%;
  }

  header .header-split .header-bottom {
    flex-direction: row-reverse;
    height: 70px;
    padding: 0 0 0 15%;
  }

  /* header .header-split .header-bottom .header-bottom-left a.sp-menu-button span{
    display: block;
    position: absolute;
    width: 60px;
    height: 6px;
    background: #fff;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button span.open:nth-child(1){
    position: absolute;
    top: 28px;
    right: 10px;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button span.open:nth-child(2){
    position: absolute;
    top: 42px;
    right: 10px;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button span.close:nth-child(1){
    position: absolute;
    top: 40px;
    right: 10px;
    transform: rotate(45deg);
    transition: 0.2s;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button span.close:nth-child(2){
    position: absolute;
    top: 40px;
    right: 10px;
    transform: rotate(-45deg);
    transition: 0.2s;
  } */


  header .header-split .header-bottom .header-bottom-left a.sp-menu-button {
    position: absolute;
    top: 40px;
    right: 10px;
    max-width: 60px;
    width: 100%;
    height: auto;
    line-height: 1.25;
    transform: translate(0, -50%);
  }

    header .header-split .header-bottom .header-bottom-left a.sp-menu-button img.close {
    display: none;
    opacity: 0;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-left a.sp-menu-button img.open {
    opacity: 1;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-right {
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu.open {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 120%;
    padding-top: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    opacity: 1;
    transition: 1s;}

  header .header-split .header-bottom .header-bottom-left .sp-menu.close {
    display: block;
    width: 120%;
    position: absolute;
    top: 0;
    right: -300px;
    padding-top: 70px;
    text-align: center;
    opacity: 0;
    transition: 1s;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li {
    padding: 10px 0;
    border-bottom: 1px solid #555;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li:last-child {
    border-bottom: 0;
  }

  header .header-split .header-bottom .header-bottom-left .sp-menu ul li a {
    font-size: 4vw;
  }

  #top #contents .hero {
    margin-bottom: 38%;
  }

  #top #contents .hero h1 {
    font-size: 2.133vw;
  }

  #top #contents .hero .center p {
    font-size: 3.2vw;
  }

  #top #contents .the-school h3, .instructor h3 {
    font-size: 5.333vw;
  }

  #top #contents .the-school {
    background: url(/images/sp-school-bg.png)no-repeat center top;
  }

  #top #contents .instructor {
    height: auto;
    background: url(/images/sp-instructor-bg.png)no-repeat center top;
    background-size: cover;
  }

  #top #contents .alum h3, .course .inner h3 {
    font-size: 3.8vw;
  }

  .inner {
    display: block;
    margin: 0 14.26%;
    justify-content: unset;
  }

  #top #contents .alum {
    padding: 0 1.33%;
  }

  #top #contents .alum .inner {
    margin: 0;
    display: inline-flex;
  }

  #top #contents .course {
    padding: 40px 0 40px 0;
  }

  #top #contents .course .inner h3 {
    width: 100%;
    margin-bottom: 30px;
  }

  #top #contents .videos .inner {
    margin: 0 0 29px 0;
  }

  #top #contents .videos .inner .video {
    width: 46.93%;
  }

  #top #contents .videos .inner .video3 {
    display: none;
  }

  #top #contents .blog .inner{
    display: none;
  }

  #top #contents  .sp-blog {
    display: flex;
    margin: 0 1.1426%;
    justify-content: space-between;
  }

  #top #contents .blog .sp-blog .article {
    width: 49%;
  }

  #top #contents .access .inner {
    margin: 0 7.6%;
  }

  #top #contents .access .inner .access-description {
    width: 100%;
  }

  #top #contents .access .inner .access-description.osaka {
    margin-bottom: 70px;
  }

  #top #contents .access .inner .access-description .access-title h2{
    font-size: 4vw;
  }

  #top #contents .access .inner .access-description .access-title p{
    font-size: 3.2vw;
  }

  #top #contents .access .inner .access-description .access-text{
    font-size: 3.4666vw;
  }

  #top #contents .access .inner .access-description .gmap-btn {
    display: inline-block;
    z-index: 11;
    position: relative;
    width: 40.93%;
    height: auto;
    padding-right: 8%;
    border-radius: 4px;
    background: #555 url(/images/gmap-btn-arrow.png)no-repeat right 10% center/6%;
    line-height: 2.4;
    text-align: center;
    font-size: 4vw;
  }

#contents .contact-list {
    padding: 106px 0 40px 0;
  }

#contents .contact-list ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 66px;
    text-align: left;
  }

#contents .contact-list ul li a {
    display: block;
    vertical-align: middle;
    width: 100%;
    height: 100px;
    border-radius: 4px;
    line-height: 100px;
    text-align: center;
    font-size: 4.26666vw;
  }

#contents .category-list {
    display: none;
  }

#contents .sponcer {
    width: 100%;
    padding: 40px 0;
    text-align: center;
  }

#contents .sponcer ul {
    display: block;
    overflow: hidden;
    justify-content: unset;
  }

#contents .sponcer ul li {
    width: 48%;
    margin-bottom: 32px;
  }

#contents .sponcer ul li:nth-child(odd) {
    display: block;
    float: left;
  }

#contents .sponcer ul li:nth-child(even) {
    display: block;
    float: right;
  }

#contents .sponcer ul.inner {
    margin: 0 7.6%;
  }

footer .footer-inner {
    display: block;
    padding: 0;
    margin: 0 7.6%;
    height: auto;
    text-align: center;
  }

footer .footer-inner .pc-footer-nav {
    display: none;
  }

footer .footer-inner ul li a, footer .footer-inner p {
    font-size: 4vw;
  }

footer .contact-and-social-account {
    display: flex;
    padding: 0 8%;
  }

footer .contact-and-social-account .contact p {
    display: none;
  }

footer .contact-and-social-account .social-account p {
    display: none;
  }

footer .contact-and-social-account .social-account ul li:first-child {
    display: none;
  }

footer .contact-and-social-account .social-account ul li:nth-child(2) {
    display: none;
  }

footer .contact-and-social-account .social-account ul li:last-child {
    display: none;
  }

 footer .contact-and-social-account .contact {
    width: 100%;
  }

footer .contact-and-social-account .contact .contact-btn {
    margin-right: 40px;
  }

footer .contact-and-social-account .contact .contact-btn span a {
    width: 53%;
    font-weight: normal;
  }

footer .footer-inner .copyright {
    /* width: 24%; */
    border-right: 0 solid #6f6f6f;
    border-top: 1px solid #6f6f6f;
    padding: 67px 0 75px 0;
  }

footer .footer-inner .copyright img {
    object-fit: cover;
    width: 65%;

  }

footer .footer-inner .copyright p br {
    display: none;
  }

}

@media screen and (max-width:500px) {
    /* {
    font-size: 5.333vw;
  } */

footer .contact-and-social-account .contact .contact-btn span a {
    width: 85%;
    font-weight: normal;
  }

footer .contact-and-social-account .contact .contact-btn span a {
    padding: 15px 0 13px 30px;
  }

  @media screen and (max-width:400px) {
    header .header-split .header-bottom .header-bottom-left .sp-menu-button img {
      width: 60%
    }

    #top #contents .hero {
      padding: 0 20px;
    }

    #top #contents .hero .hero-title-img {
      margin-bottom: 100px;
    }
  }
